* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #3c3e3c;
  overflow-x: hidden;
  background-image: url(/img/bg.png);
}

main {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #3c3e3c;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  text-transform: none;
  padding-bottom: 20px;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  color: #3c3e3c;
}

nav {
  background-image: url(/img/bg.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  text-transform: uppercase;
  width: 100%;
  height: 100px;
  margin: auto;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in;
  box-shadow: 0 1px 5px #ccc;
  z-index: 3;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
}

.nav-links {
  background-image: url(/img/bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 20%;
  box-shadow: 0 1px 5px #ccc;
  transform: translateX(-110%);
  transition: transform 0.5s ease-in;
}

.nav-links li {
  padding: 20px 0;
}

.nav-links li h2 {
  color: #3c3e3c;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}

.nav-links li p {
  color: #3c3e3c;
  font-size: 10px;
  text-align: center;
  text-transform: lowercase;
}

.burger {
  cursor: pointer;
  display: block;
  z-index: 100;
}

.burger div {
  width: 30px;
  height: 4px;
  background-color: #3c3e3c;
  margin: 8px;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-12px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-12px, -5px);
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6.5rem;
  box-shadow: 0 1px 5px #ccc;
  background-image: url(/img/bg.png);
  z-index: 2;
}

.intro a {
  text-decoration: none;
  margin-bottom: 1rem;
}

.intro p {
  margin-bottom: 50px;
}

.intro-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.intro-content {
  width: 40%;
}

.intro-content h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1;
}

.intro img {
  width: 420px;
  margin: 100px 0;
}

#work {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background-image: url(/img/bg.png);
  padding: 0 6.5rem;
}

.work-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.work-content-box {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-right: 2rem;
}

.work-content-title-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.work-content-title-img img {
  margin-right: 2rem;
}

.work-content-title-img div img {
  width: 300px;
}

.work-content-title-img .img-horisontal img {
  width: 200px;
}

#cv {
  padding: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/img/bg.png);
  margin-top: 150vh;
  z-index: 2;
  box-shadow: 1px 0px 2px #ccc;
}

.cv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: 2rem;
}

.cv-paragraf {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

#about {
  padding: 100px;
  display: flex;
  align-items: center;
  background-image: url(/img/bg.png);
  z-index: 2;
}

#about h2 {
  margin-bottom: 50px;
}

#about p {
  margin-bottom: 20px;
}

#about img {
  width: 400px;
}

#contact {
  width: 100%;
  height: 100%;
  padding: 100px;
  background-image: url(/img/bg.png);
  box-shadow: 1px 0px 2px #ccc;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  color: #3c3e3c;
}

label {
  margin-top: 10px;
}

input,
textarea {
  border: none;
  box-shadow: inset 0 1px 5px #ccc;
  padding: 10px;
  margin: 20px 0;
  font-family: "Roboto Mono", monospace;
}

input#send-button {
  width: 200px;
}

footer {
  width: 100%;
  height: 40vh;
  background-color: #3c3e3c;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  padding: 100px;
  z-index: 2;
}

footer h3 {
  font-size: 1.5rem;
}

footer p {
  color: #fff;
}

.project {
  width: 100%;
  height: 100%;
}

.project-intro {
  display: flex;
  justify-content: space-between;
  padding: 200px 100px;
  box-shadow: 0 1px 5px #ccc;
}

.project a {
  text-decoration: underline;
}

.project-content h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1;
}

.project-details {
  margin-top: 100px;
}

.project-content p {
  font-size: 1rem;
  line-height: 1.8;
  color: #3c3e3c;
  margin: 50px 50px 50px 0;
}

.project img {
  width: 500px;
}

.project-details {
  padding: 100px;
  display: flex;
  justify-content: space-between;
}

.project-details p {
  width: 500px;
}

.project-details img {
  width: 400px;
}

@media screen and (max-width: 900px) {
  h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1;
  }

  nav {
    padding: 5vw;
    width: 100%;
  }

  .burger {
    margin-top: 15px;
  }

  .nav-links {
    width: 100%;
    position: fixed;
  }

  .intro {
    padding: 10rem 0.5rem 0.5rem 0.5rem;
  }

  .intro-wrapper {
    flex-direction: column;
  }

  .intro-content {
    width: 90%;
  }

  .intro-content h1 {
    font-size: 3.4rem;
  }

  .intro img {
    width: 90%;
    margin-top: 1rem;
  }

  #work {
    position: relative;
    padding: 1.5rem;
  }

  .work-content {
    height: 100%;
  }

  .work-content-box {
    width: 100%;
    margin: 2rem 0;
  }

  .work-content-title-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .work-content-title-img img {
    margin-right: 1rem;
  }

  .work-content-title-img div img {
    width: 150px;
  }

  .work-content-title-img .img-horisontal img {
    width: 100px;
  }

  #cv {
    padding: 5rem 1rem 1rem 1rem;
    margin-top: 3rem;
    text-align: center;
  }

  .cv {
    flex-direction: column;
  }

  .cv div {
    margin-bottom: 1rem;
  }

  .cv-paragraf p {
    margin-top: 1rem;
  }

  footer {
    padding: 5vw;
    justify-content: space-around;
    align-items: center;
  }

  .project {
    margin: 100px 0;
  }

  .project img {
    width: 100%;
  }

  .project-content p {
    margin-left: 0;
    margin-right: 0;
  }

  .project-intro {
    flex-direction: column;
    padding: 5vw;
  }

  .project-details {
    flex-direction: column;
    padding: 5vw;
  }

  .project-details p {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .project-details img {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  nav {
    padding: 20px 15rem;
  }

  .intro {
    padding: 6.5rem 15rem;
  }

  #work {
    padding: 0 15rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

.nav-links-active {
  transform: translateX(-110%);
}
